.heading {
    margin-bottom: 20px;

    @include tablets {
        text-align: center;  
    }    
}

.headling__title {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.headling__subtitle {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 11Px;
}


